:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }

  body {
    font-family: "Inter", sans-serif;
    margin: 0px;
    background-color: rgb(2, 2, 2);
  }

  .containergrid {
    margin: 5px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
      "nav nav nav nav"
      "sidebar portada portada content3"
      "sidebar content1 content2 content3"
      "sidebar content1 content4 content4";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    height: fit-content;
  }

  h1 {
    color: #c0b8dc;
    font-size:x-large;
  }
  
  nav {
    background-color: rgb(2, 2, 2);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  .logo {
      height: 50px;
  }
  
  #portada {
    background-image: url(Posibleportada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    grid-area: portada;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  /*Sidebar de pinceles y assets*/

  #sidebar {
    background: #1d004d;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  #sidebar a {
    color:  #48009b;
  }

  #sidebar a:hover {
    color: #ffffff;
  }

  /*Cajita Masterlist*/
  .masterlist {
    padding: 2%;
    background-image: url(FondoMasterlist.jpg);
    margin: 5px;
    border-radius: var(--main-radius);
  }
  
  .masterlist > * {
    margin: 5px;
  }

  /*Cajita Pincel=Elementos hijo para todas las demás cajas*/
  .pincel {
    padding: 2%;
    background-image: url(Pincel1.2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    border-radius: var(--main-radius);
  }

  .pincelint {
    background-color: rgba(153, 131, 198, 0.612);
    border-radius: var(--main-radius);
  }

  .pincelint a:hover {
      color: #ffffff;
  }

/*Cajita pincel 2*/
.pincel2 {
  padding: 2%;
  background-image: url(Pincel2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--main-radius);
  margin-top: 5px;
}

/*Cajita pincel 3*/
.pincel3 {
  padding: 2%;
  background-image: url(Pincel3.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--main-radius);
  margin-top: 5px;
}

/*Cajita pincel 4*/
.pincel4 {
  padding: 2%;
  background-image: url(Pincel4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--main-radius);
  margin-top: 5px;
}

/*Assets*/
.asset {
  margin: 5px;
  background-color: rgba(153, 131, 198, 0.612);
  border-radius: var(--main-radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.assetimg {
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url(Asset1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--main-radius);
  margin: 5px;
}

.cajitainfo {
  grid-column-start: span 2;
}

.assetimg2 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url(Asset2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--main-radius);
  margin: 5px;
}

.assetimg3 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url(Asset3.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--main-radius);
  margin: 5px;
}

  #content1 {
    background: #8A2BE2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  .cajaper {
    margin: 5px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px 24px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
  }

  .cajitasper {
    display: grid;
    grid-template-rows: 70% 1fr;
    gap: 5px;
  }

  .cajitasper a {
    color:  #99e4ff;
  }

  .perimg {
    background-image: url(Perspectiva.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  }

  #content2 {
    background: #120052;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content3 {
    background: #9b26d5;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content4 {
    background: #21adf8;
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
  }

  p {
    margin-bottom: 2px;
    margin-top: 4px;
  }
  
  @media only screen and (max-width: 768px) {
    .containergrid {
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 0.4fr 0.4fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "nav"
        "portada"
        "sidebar"
        "content1"
        "content2"
        "content3"
        "content4";
    }
  }