:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }

  a:hover {
    color: #ffffff;
  }
  
  .containergrid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
      "nav nav nav nav"
      "sidebar portada portada portada"
      "sidebar content1 content2 content3"
      "sidebar footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }

  h1 {
    color: #c0b8dc;
    font-size:x-large;
  }
  
  nav {
    background-color: #1d004d;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  .logo {
      height: 50px;
  }
  
  #portada {
    background-color: #73ffba;
    grid-area: portada;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  /*Sidebar de pinceles y assets*/

  #sidebar {
    background: #1d004d;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  /*Cajita Masterlist*/
  .masterlist {
    padding: 2%;
    background-image: url(FondoMasterlist.jpg);
    margin: 5px;
    border-radius: var(--main-radius);
  }
  
  .masterlist > * {
    margin: 5px;
  }

  .masterlist > p {
    color: #1d004d;
  }

  /*Cajita Pincel=Usada para todas las demás cajas*/
  .pincel {
    padding: 2%;
    background-image: url(Pincel1.2.png);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: var(--main-radius);
    margin-top: 5px;
  }

  .pincel > p {
    margin-top: 5px;
  }

  .pincelint {
    padding: 5px 5px 5px 5px;
    background-color: rgba(153, 131, 198, 0.612);
    border-radius: var(--main-radius);
  }

/*Cajita pincel 2*/
.pincel2 {
  padding: 2%;
  background-image: url(Pincel2.jpg);
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--main-radius);
  margin-top: 5px;
}

  #content1 {
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content2 {
    background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content3 {
    background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
    color: #48009b;
  }
  
  @media only screen and (max-width: 768px) {
    .containergrid {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "nav"
        "sidebar"
        "portada"
        "content1"
        "content2"
        "content3"
        "footer";
    }
  }